@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>This is an about us page.</p>

<div class="row">
    <div class="col-12 col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu augue eget nibh accumsan tristique. Vivamus massa est, maximus at augue nec, aliquam accumsan odio. Praesent scelerisque gravida ante, ut aliquet nibh viverra ut. Etiam posuere nec nunc at venenatis. Vestibulum ac est turpis. Quisque maximus eros ligula, consectetur varius leo tempus sit amet. Sed egestas blandit orci, vel consequat nibh. Sed vel ante venenatis, laoreet diam vel, pharetra sapien. Nulla et aliquam odio, eu vehicula lorem. Mauris eleifend elit eu accumsan eleifend. In gravida eros tellus, a sollicitudin odio efficitur nec.</p>
    </div>
    <div class="col-12 col-sm-6">
        <p>Nunc eget sapien posuere nunc vulputate finibus nec elementum nunc. Ut volutpat sagittis eros in ornare. Etiam lectus magna, sollicitudin at iaculis ut, hendrerit ut diam. Aenean egestas porta nisl vitae fringilla. Aliquam vel lobortis lectus, non iaculis diam. Sed porttitor luctus mi, quis fermentum nulla dapibus at. Aliquam quis tortor massa. Sed dictum eu odio eget vulputate.</p>
        <p>Curabitur aliquam ornare risus eu congue. Curabitur mi diam, eleifend id facilisis ut, pharetra non nulla. Sed vel orci quis diam iaculis convallis vitae eget quam. Duis cursus erat risus, a dictum lectus gravida nec. Vivamus et scelerisque ante. Phasellus sit amet aliquet urna, vitae vehicula lacus. Curabitur accumsan, felis vel pharetra tincidunt, nisi est pulvinar enim, non sagittis dui quam quis arcu.</p>
    </div>
</div>